@keyframes fadein{
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }

body{
    background-color: black;
}

.l-section p-topNews{
  position: absolute;
  top: 35%;
  left:  44%;
}
.title{
    color:rgb(233, 227, 227);
    font-family: 'Mongolian Baiti',sans-serif;
}

.sabtitle{
    color:rgb(233, 227, 227);
    font-family: 'Mongolian Baiti',sans-serif;
}

ol.news{
    counter-reset:list;
    list-style-type:none;
    position:relative;
    font: 14px/1.6 ;
    /* 'Mv Boli', 'arial narrow', sans-serif; */
    font-family: 'Mongolian Baiti',sans-serif;
    padding: 1.2em;
    /* background:#F2EFE7; */
    background:#111110;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset,0 0 4px rgba(0, 0, 0, 0.2) ;
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset,0 0 4px rgba(0, 0, 0, 0.2) ;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset,0 0 4px rgba(0, 0, 0, 0.2) ;
    width:95%;
  }
  ol.news:after{
    /* content:"list-sample";   */
    position: absolute;
    bottom: 8px;
    right: 1.2em;
    font-size:12px;
    color:#bbb;
  }
  ol.news li{
    position:relative;
    padding: 7px 5px 7px 50px;
    margin: 7px 0 10px 0px;
    font-weight: bold;
    font-size:14px;
    border-bottom:dashed 1px #ccc;
    /* color:#333; */
    color:rgb(233, 227, 227);
  }
  ol.news li:first-child{
    margin-top:0;
  }
  ol.news li:last-child{
    margin-bottom:20px;
  }
  ol.news li:before{
    counter-increment: list;
    content: counter(list) ",";
    position: absolute;
    left: 15px;
    font-size:1.2em;
     top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .c-newsList__item:hover {
    /* background-size: 1% 1%;  */
    background-color:rgb(138, 26, 26);
    animation: fadein 1s forwards;

  }
  header {
    display: flex;
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.884);
    align-items: center;
    position: fixed;
  }

  body{background-color: #00000069; }
    
   
  p {
    padding: 130px 0px;
    height: 500px;
  }
   
  .title {
    position:absolute;
    top: 35%;
    left:  44%;
    color: rgb(255, 255, 255);             
    font-family: 'Mongolian Baiti',sans-serif;
  }
   
  .menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
  }

*{
  margin: 0px;
  padding: 0px;

}